<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Top Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-center" id="navbarColor02">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hardware</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarColor02">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="user-login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-register">Register</a>
        </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0" wtx-context="B2221BF3-D84D-452E-8CD3-1354773C7133">
      <input class="form-control mr-sm-2" type="text" placeholder="Search for a game" wtx-context="EF22A100-B473-4AE7-8996-1B5CD2C5111E">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
