<div class="container">
    <h1>Register to Top Games</h1>
    <form> 
        <div class="form-group" >
            <label for="email">Email address</label>
            <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="Enter your email" name="email" required minlength="6">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="user.username" class="form-control" placeholder="Enter your username" name="username" required minlength="4" >
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" [(ngModel)]="user.address" class="form-control" placeholder="Enter your adress" name="address">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="Enter your name" name="name">
        </div>
        <div class="form-group">
            <label for="first-name">Firstname</label>
            <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="Enter your firstname" name="first-name">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Enter your password" name="pwd" required minlength="6">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="addUser()">Register</button>
        </div>
    </form>
    
</div>