.container{
    padding: 3rem;
    background-color:#e4e4e4;
    border-radius: 15px;
    margin-top: 3rem;
    font-family: 'Russo One', sans-serif;
}

h1{
    margin-bottom: 3rem;
}

input{
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 10px 30px;
}

button{
    margin-top: 1rem;
    border-radius: 50px;
}

.form-group{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}